<ion-content [fullscreen]="true">
  <div class="container">
    <div class="logo-container">
      <img src="assets/logo.png" alt="Logo do Aplicativo" class="logo" />
      <div class="app-name">Círculo Solidário</div>
      <p>
        A maneira mais simples de fazer a diferença e criar um impacto positivo
        em nossa comunidade.
      </p>
    </div>

    <h2 class="ion-text-center">Login</h2>

    <div class="section">
      <ion-item>
        <ion-label position="floating" color="ffbd59">Email</ion-label>
        <ion-input
          [(ngModel)]="email"
          type="email"
          style="border-radius: 10px"
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating" color="ffbd59">Password</ion-label>
        <ion-input
          [(ngModel)]="password"
          type="password"
          style="border-radius: 10px"
        ></ion-input>
      </ion-item>

      <div class="ion-margin">
        <ion-button
          expand="full"
          color="primary"
          (click)="login()"
          style="border-radius: 10px"
          >Entrar</ion-button
        >
      </div>

      <div class="register-link ion-text-center">
        <p>Ainda não tem um login? 
          <a (click)="fazerRegistro()">Registrar</a>.</p>
      </div>
    </div>
  </div>

  
  <div class="trapezoid"></div>
</ion-content>
